<h2>Bienvenido</h2>
<a href="/products"><button class="productAddToCartButton" >Ver productos</button></a>
<a href="realTimeProducts"><button class="greenButton">Formulario para productos</button></a>